body {
  margin: 0;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
.btn-item {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
  box-sizing: border-box;
}
.btn-item:hover {
  color: #ffffff;
  background-color: #444444;
}
.btn-item:active {
  color: #8d8d8d;
  background-color: #444444;
}
.paddings {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .paddings {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.catalog {
  width: 320px;
  margin-bottom: 58px;
  margin-left: auto;
  margin-right: auto;
}
.catalog__title {
  display: flex;
  min-height: 177px;
  padding-left: 40px;
  padding-right: 42px;
  background-color: #f1f1f1;
}
.catalog__title-name {
  margin-top: -6px;
  margin-bottom: 0;
  align-self: center;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog {
    width: 768px;
    margin-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__title {
    position: relative;
    min-height: 226px;
    margin-bottom: 79px;
  }
  .catalog__title::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: -6px;
    width: 779px;
    height: 12px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-size: cover;
    background-repeat: repeat;
  }
  .catalog__title-name {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .catalog {
    width: 1150px;
    margin-bottom: 58px;
  }
  .catalog__title {
    min-height: 252px;
    margin-bottom: 132px;
  }
  .catalog__title::after {
    width: 1150px;
  }
  .catalog__title-name {
    margin-top: -10px;
    font-size: 53px;
    line-height: 57px;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.contacts__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
}
.contacts__info {
  margin-bottom: 22px;
  font-size: 15px;
}
.contacts__data {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.contacts__data:first-child {
  margin-bottom: 30px;
}
.contacts__term {
  width: 20%;
}
.contacts__meaning {
  width: 70%;
  margin-left: 0;
}
.contacts__link {
  display: inline;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}
.contacts__link:hover {
  color: #46c1ae;
  border-bottom: 1px solid #46c1ae;
}
.contacts__link:active {
  opacity: 0.3;
}
.contacts__map {
  align-self: center;
  width: 320px;
  min-height: 457px;
  background-image: url(../img/map-mobile@1x.jpg);
  background-position: 50%;
}
.contacts__wrapper {
  padding-top: 39px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__info {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin-bottom: 40px;
  }
  .contacts__title {
    position: relative;
    margin-bottom: 34px;
    padding-top: 21px;
    padding-bottom: 15px;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__title::after {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url(../img/icon-flag.svg);
  }
  .contacts__container {
    display: flex;
  }
  .contacts__data {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }
  .contacts__term {
    margin-right: 10px;
  }
  .contacts__map {
    width: 768px;
    background-image: url(../img/map-tablet@1x.jpg);
  }
  .contacts__wrapper {
    padding-top: 54px;
    padding-bottom: 56px;
  }
  .contacts__btn {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 19%;
  }
  .contacts__info {
    display: flex;
    flex-direction: column;
    order: -2;
    width: 350px;
    margin-top: 85px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title::after {
    top: 11px;
    left: -30%;
  }
  .contacts__container {
    flex-direction: column;
  }
  .contacts__data {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__map {
    order: -1;
    width: 500px;
    margin-top: 35px;
  }
  .contacts__wrapper {
    margin-top: -106px;
    margin-left: 10px;
  }
}
@media (min-width: 1250px) {
  .contacts {
    padding-left: 21.5%;
    padding-right: 100px;
  }
  .contacts__map {
    width: 525px;
  }
}
.feedback {
  position: relative;
  padding-top: 31px;
  padding-bottom: 46px;
}
.feedback::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 320px;
  height: 6px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-size: contain;
}
.feedback__title {
  margin-top: 0;
  margin-bottom: 25px;
}
.feedback__item {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
.feedback__text {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 15px;
}
.feedback__author {
  font-weight: 700;
}
.feedback__author-email {
  margin: 0;
}
.feedback__toggles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ececec;
}
.feedback__toggle {
  width: 50px;
  height: 26px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.feedback__toggle svg:hover {
  fill: #666666;
}
.feedback__toggle svg:active {
  fill: #b2b2b2;
}
@media (min-width: 768px) {
  .feedback {
    padding-top: 77px;
    padding-bottom: 100px;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
  }
  .feedback::after {
    bottom: 0;
    width: 768px;
    height: 17px;
    background-size: 768px 17px;
    background-position: -15px 0;
  }
  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .feedback__title {
    order: -2;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .feedback__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 668px;
  }
  .feedback__item {
    width: 400px;
  }
  .feedback__text {
    width: 650px;
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }
  .feedback__author {
    font-size: 19px;
  }
  .feedback__toggles {
    width: 167px;
    margin-bottom: 36px;
    border: 0;
  }
  .feedback__btn {
    order: -1;
    width: 175px;
    margin-top: 3px;
  }
}
@media (min-width: 1150px) {
  .feedback {
    padding-top: 9px;
    padding-bottom: 85px;
    background: #ffffff;
  }
  .feedback::after {
    left: 4.6%;
    width: 1050px;
    height: 23px;
    background-size: cover;
  }
  .feedback__wrapper {
    width: 875px;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-left: 16%;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
  }
  .feedback__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
  .feedback__list {
    width: 875px;
  }
  .feedback__text {
    width: 775px;
    margin-bottom: 36px;
  }
  .feedback__toggles {
    width: 170px;
    margin-bottom: 34px;
  }
  .feedback__btn {
    margin-top: 9px;
  }
}
@media (min-width: 1250px) {
  .feedback {
    padding-top: 7px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .feedback::after {
    left: 8%;
  }
  .feedback .feedback__wrapper {
    padding-left: 16.5%;
  }
}
.goods {
  margin-bottom: 30px;
}
.goods__item {
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.goods__link {
  display: block;
  min-height: 195px;
}
.goods__information {
  padding-top: 27px;
  padding-left: 28px;
  padding-right: 27px;
  border-bottom: 1px solid #ececec;
}
.goods__description {
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
}
.goods__description-title {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.goods__description-title:hover {
  color: #8d8d8d;
}
.goods__description-title:active {
  opacity: 0.4;
}
.goods__description-text {
  margin: 0;
  font-size: 13px;
}
.goods__price {
  position: relative;
  padding-top: 20px;
  padding-bottom: 28px;
}
.goods__price svg {
  position: absolute;
  top: 23px;
  right: 0;
  fill: #d3d2d2;
}
.goods__price svg:hover {
  fill: #63d1bb;
}
.goods__price svg:active {
  opacity: 0.4;
}
.goods__price-value {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .goods {
    margin-bottom: 53px;
  }
  .goods__item {
    display: flex;
    margin-top: 54px;
    border-top: 1px solid #ececec;
  }
  .goods__link {
    width: 51%;
    margin: 0;
  }
  .goods__information {
    display: flex;
    flex-direction: column;
    width: 41%;
    padding-top: 25px;
    padding-right: 37px;
  }
  .goods__description {
    min-height: 213px;
  }
  .goods__description-title {
    font-size: 20px;
    line-height: 24px;
  }
  .goods__description-text {
    font-size: 15px;
  }
  .goods__price {
    padding-top: 22px;
    padding-bottom: 26px;
    padding-left: 3px;
  }
  .goods__price-value {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .goods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }
  .goods__item {
    flex-direction: column;
    width: 30%;
    margin: 0;
  }
  .goods__link {
    width: 100%;
  }
  .goods__information {
    width: 81%;
    min-height: 170px;
  }
  .goods__description {
    flex-grow: 1;
    min-height: 0;
    padding-bottom: 14px;
  }
  .goods__price {
    padding-left: 0;
  }
}
.main-index {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-index {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .main-index {
    width: 1150px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1250px) {
  .main-index {
    width: 1250px;
  }
}
.main-nav {
  position: relative;
  width: 100%;
}
.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 21px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.main-nav__list:nth-of-type(2) {
  border-bottom: 1px solid #ececec;
}
.main-nav__list--sales {
  display: none;
}
.main-nav__item {
  position: relative;
  border-top: 1px solid #ececec;
}
.main-nav__item svg {
  position: absolute;
  left: 30px;
  bottom: 40%;
  fill: #d3d2d2;
}
.main-nav__link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.main-nav__link:hover {
  color: #8d8d8d;
}
.main-nav__link:hover svg {
  fill: #63d1bb;
}
.main-nav__link:active {
  opacity: 0.4;
}
.main-nav__delivery {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--closed::before {
    content: "";
    position: absolute;
    top: -48px;
    right: 32px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
    z-index: 1000;
  }
  .main-nav--opened::before,
  .main-nav--opened::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }
  .main-nav--opened::before {
    top: -42px;
    right: 28px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-nav--opened::after {
    top: -42px;
    right: 28px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }
  .main-nav__list {
    display: flex;
    width: 350px;
  }
  .main-nav__list:nth-of-type(2) {
    border-bottom: 0;
  }
  .main-nav__list--basic {
    position: absolute;
    bottom: -48%;
    left: -20%;
    z-index: 10;
  }
  .main-nav__list--sales {
    display: none;
  }
  .main-nav__item {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
    border-top: 0;
  }
  .main-nav__item--search {
    width: 85px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .main-nav__item--search svg {
    left: 40%;
  }
  .main-nav__item--basket {
    justify-content: flex-end;
    flex-grow: 1;
  }
  .main-nav__item--basket svg {
    left: 12%;
  }
  .main-nav__link {
    font-size: 15px;
    align-self: center;
  }
  .main-nav__link--basic {
    padding: 0;
  }
  .main-nav__link--search {
    font-size: 0;
  }
  .main-nav__link--basket {
    font-size: 17px;
  }
  .main-nav__delivery {
    position: absolute;
    bottom: -65%;
    display: block;
    font-size: 15px;
    line-height: 24px;
    z-index: 100;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
  .main-nav__list--basic {
    position: static;
    width: 390px;
  }
  .main-nav__list--sales {
    position: absolute;
    bottom: -48%;
    display: flex;
    z-index: 100;
  }
  .main-nav__item--basic:nth-child(2) .main-nav__link--basic {
    padding-left: 25px;
  }
  .main-nav__item--sales:first-child {
    flex-grow: 1;
  }
  .main-nav__item--sales:nth-child(2) {
    width: 131px;
  }
  .main-nav__link {
    padding-top: 30px;
    padding-bottom: 33px;
    font-size: 17px;
  }
  .main-nav__link--search {
    font-size: 0;
  }
  .main-nav__link--sales {
    padding: 0;
    font-size: 15px;
  }
  .main-nav__delivery {
    right: 0;
  }
}
.media__container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}
.media__title {
  position: relative;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
}
.media__title svg {
  position: absolute;
  top: 30px;
  left: 30px;
}
.media__item {
  position: relative;
}
.media__item svg {
  position: absolute;
  top: 36px;
  left: 76px;
}
.media__item svg:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.media__item svg:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0.6;
}
.media__wrapper {
  padding-top: 28px;
  padding-left: 34px;
  padding-right: 36px;
}
.media__text {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .media__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }
  .media__item {
    order: -1;
  }
  .media__item svg {
    top: 41%;
    left: 43%;
  }
  .media__title {
    padding-top: 40px;
    padding-bottom: 17px;
    padding-left: 105px;
    font-size: 20px;
  }
  .media__title svg {
    top: 34px;
    left: 42px;
  }
  .media__wrapper {
    padding-top: 15px;
    padding-left: 40px;
  }
  .media__text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .media__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .media__title {
    width: 153px;
    margin-top: 56px;
    padding-left: 77px;
    padding-right: 40px;
  }
  .media__title svg {
    top: -14px;
    left: 78px;
  }
  .media__item {
    width: 683px;
  }
  .media__wrapper {
    width: 232px;
    margin-top: -293px;
    margin-left: auto;
    padding-left: 77px;
    padding-right: 55px;
  }
  .media__text {
    margin-bottom: 45px;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
  box-sizing: border-box;
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .page-footer__logo {
    display: block;
    width: 33%;
    height: 34px;
  }
  .page-footer__logo svg {
    margin-top: -3px;
  }
  .page-footer__logo svg:hover {
    fill: #46c1ae;
  }
  .page-footer__logo svg:active {
    fill: #bde3dd;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    width: 1150px;
  }
}
@media (min-width: 1250px) {
  .page-footer--width {
    width: 1250px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  box-sizing: border-box;
}
.page-header__logo {
  display: block;
  width: 90px;
  height: 36px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 21px;
  z-index: 100;
}
.page-header__logo:hover {
  opacity: 0.6;
}
.page-header__logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    border: 0;
  }
  .page-header__logo {
    width: 134px;
    height: 48px;
    padding-bottom: 18px;
  }
}
@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
  }
  .page-header__logo {
    position: absolute;
    top: -15%;
    right: 43.5%;
    width: 150px;
    height: 62px;
  }
}
.presentation {
  padding-top: 33px;
  padding-bottom: 25px;
}
.presentation__title {
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: -3px;
  font-size: 25px;
}
.presentation__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 50px;
  line-height: 20px;
  font-weight: 700;
}
.presentation__text::before {
  position: absolute;
  content: "";
  top: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.presentation__text--margin {
  margin-bottom: 0;
}
.presentation__text--flower::before {
  top: -3px;
  left: 6px;
  width: 34px;
  height: 38px;
  background-image: url(../img/icon-feature-1.svg);
}
.presentation__text--money::before {
  width: 48px;
  height: 27px;
  background-image: url(../img/icon-feature-3.svg);
}
.presentation__text--like::before {
  top: 3px;
  left: 7px;
  width: 35px;
  height: 27px;
  background-image: url(../img/icon-feature-5.svg);
}
.presentation__text--clew::before {
  width: 36px;
  height: 35px;
  background-image: url(../img/icon-feature-2.svg);
}
.presentation__text--rocket::before {
  left: -3px;
  width: 55px;
  height: 23px;
  background-image: url(../img/icon-feature-4.svg);
}
.presentation__text--gift::before {
  width: 33px;
  height: 32px;
  background-image: url(../img/icon-feature-6.svg);
}
@media (min-width: 768px) {
  .presentation {
    padding-top: 63px;
    padding-bottom: 20px;
  }
  .presentation__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .presentation__wrapper {
    display: flex;
  }
  .presentation__text {
    width: 80%;
    margin-bottom: 61px;
    padding-top: 51px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1150px) {
  .presentation {
    padding-top: 75px;
    padding-left: 19%;
    padding-right: 175px;
  }
  .presentation__title {
    margin-bottom: 52px;
    font-size: 53px;
    line-height: 57px;
  }
  .presentation__item {
    width: 350px;
  }
}
@media (min-width: 1250px) {
  .presentation {
    padding-left: 21.8%;
  }
}
.product {
  position: relative;
  padding-top: 28px;
  padding-bottom: 36px;
}
.product::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 320px;
  height: 6px;
  background-image: url(../../img/bg-zigzag-line.svg);
  background-size: contain;
}
.product__title {
  margin-bottom: 24px;
}
.product__name {
  margin-top: 0;
  margin-bottom: 4px;
}
.product__label {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
.product__text {
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;
}
.product__characteristics {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 15px;
  line-height: 20px;
}
.product__item {
  display: flex;
  padding-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.product__characteristic {
  width: 30%;
}
.product__defenition {
  margin-left: 20px;
}
.product__img {
  margin-bottom: 20px;
}
.product__value {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 43px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .product::after {
    bottom: -13px;
    width: 768px;
    height: 17px;
    background-size: 768px 17px;
    background-position: 15px;
  }
  .product__title {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin-bottom: 30px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .product__name {
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }
  .product__label {
    align-self: center;
    width: 75px;
    margin-top: 3px;
    line-height: 17px;
    text-align: center;
  }
  .product__wrapper {
    width: 291px;
  }
  .product__text {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
  .product__defenition {
    margin-left: 6px;
  }
  picture {
    height: 0;
  }
  .product__img {
    margin-top: 24px;
  }
  .product__price {
    width: 291px;
    margin-top: 25px;
  }
  .product__value {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (min-width: 1150px) {
  .product {
    flex-direction: column;
    padding-bottom: 80px;
  }
  .product::after {
    left: 4.6%;
    width: 1050px;
    height: 23px;
    background-size: cover;
    background-position: 24px;
  }
  .product__title {
    flex-direction: row-reverse;
    width: 700px;
    margin-top: 7.5%;
    margin-bottom: 28px;
    padding-right: 0;
    z-index: 10;
  }
  .product__name {
    font-size: 53px;
    line-height: 57px;
  }
  .product__label {
    align-self: flex-start;
    margin-top: 15px;
    padding-left: 45px;
    padding-right: 55px;
  }
  .product__wrapper {
    margin-left: 16.7%;
  }
  .product__text {
    margin-bottom: 48px;
  }
  .product__img {
    margin-top: -42.5%;
    margin-left: auto;
  }
  .product__price {
    margin-top: 78px;
    margin-left: 16.5%;
  }
}
@media (min-width: 1250px) {
  .product {
    padding-left: 100px;
    padding-right: 100px;
  }
  .product::after {
    left: 8%;
  }
}
.production {
  padding-top: 70px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% -16%;
}
.production__title {
  margin-top: 0;
  margin-bottom: 122px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
.production__list {
  padding-left: 0;
  list-style: none;
}
.production__item {
  background-color: #63d1bb;
}
.production__item--color {
  background-color: #56c3b2;
}
.production__category {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 150px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.production__category svg {
  position: absolute;
  top: 21%;
  right: 10%;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .production {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 746px;
    padding-top: 0;
    background-position: 50% -70%;
    background-size: 150%;
    border-top: 1px solid #ececec;
  }
  .production::after {
    position: absolute;
    bottom: -1px;
    content: "";
    width: 768px;
    height: 12px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-size: 768px 23px;
  }
  .production__title {
    margin-top: 153px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }
  .production__list {
    display: flex;
    width: 668px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .production__item {
    width: 50%;
  }
  .production__category {
    padding-top: 30px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
  .production__category svg {
    top: 25%;
  }
}
@media (min-width: 1150px) {
  .production {
    background-image: url(../img/hero-desktop@1x.jpg);
    background-position: 50% 0%;
    background-size: contain;
  }
  .production::after {
    width: 1150px;
    height: 17px;
    background-size: cover;
  }
  .production__title {
    font-size: 53px;
    line-height: 57px;
  }
  .production__list {
    width: 1050px;
  }
  .production__category {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 309px;
  }
  .production__category svg {
    right: 7%;
  }
}
@media (min-width: 1250px) {
  .production {
    background-color: #f9f9f9;
  }
  .production::after {
    width: 1250px;
    background-size: cover;
    background-position: 0 0;
  }
}
.realizer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 25px;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
.realizer__link {
  width: 28px;
  height: 34px;
  line-height: 0;
}
.realizer__link svg {
  fill: #63d1bb;
}
@media (min-width: 768px) {
  .realizer {
    justify-content: flex-end;
    width: 33%;
    margin: 0;
    padding: 0;
  }
  .realizer__link {
    margin-left: 28px;
  }
  .realizer__link svg {
    padding-top: 5px;
    padding-left: 3px;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 17px;
  padding-left: 56px;
  padding-right: 62px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.social__item:hover {
  fill: #46c1ae;
}
.social__item:active {
  fill: #bde3dd;
}
@media (min-width: 768px) {
  .social {
    justify-content: center;
    align-items: baseline;
    width: 33%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .social__item {
    display: block;
  }
  .social__item:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;
  }
}
